@media screen and (max-width: 375px) 
 {
    body {
        background-color: rgba(0, 0, 0, 0.856);
        position: relative;
        z-index: 1;
    }
    .trend {
        text-orientation: sideways;
        writing-mode: horizontal-tb;
        color: white;
        font-size: 39px;
        font-weight: bolder;
        border: 5px solid;
        background-color: rgba(255, 68, 0, 0.507);
        text-align: center;
    }
    .business{
        font-size: 64px;
    }
    .flyer {
        font-size: 41px;
    }
    .creative {
        font-size: 10px;
    }
    .footer_items {
        font-size: 30px;
        font-weight: 600;
    }
    .setting_icon{
        font-size: 40px;
    }
    .www_bs{
        font-size: 30px;
    }
    .orange_bg{
        width: 369px
    }
    .logo
    {
        width: 0%;
    }


}
@media screen and (max-width: 500px) {
    body {
        background-color: rgba(0, 0, 0, 0.856);
        position: relative;
        z-index: 1;
    }
    .trend {
        writing-mode: horizontal-tb;
        font-size: 35px;
        border: 3px solid;
        text-align: center;
    }
    .business {
        font-weight: bold;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.87);
    }
    .flyer {
        color: white;
        font-size: 50px;
    }
    .creative {
        font-size: 20px;
    }
    .blue_bg{
    height: 626px;
    width: 363px;

    }
    orange_bg {
        width: 589px;
        height: 776px;
    }
    .blue_bg {
        background-color: rgb(39 185 176 / 55%);
        position: absolute;
        width: 616px;
        height: 586px;
    }
    .main_img {
        width: 120%;
        height: 777px;

}
.latter_a {
    font-size: 140px;

}
}