body
{
    background-color :rgba(0, 0, 0, 0.856);
    position: relative;
    z-index: 1;
    left:10%;
   
}
.main_img
{
    background-image: url('img/bgimg.avif');
    background-repeat: no-repeat;
    width: 1551px;
    height: 866px;
    position: absolute;
    z-index: -3;
    right:0%;
   
   
}
/*------------top line one-------------*/
.top_line1
{
    width:100%;
    height: 8px;
    background-color: white;
    position:absolute;
    
}
.top_line2
{
    width: 88px;
    height: 8px;
    background-color: white;
    position: absolute;
    margin-top:25px;
    left: 1%;
}
    
    

/*------------------trend-------------*/
 .trend
{
    
    text-orientation:upright;
    writing-mode: vertical-lr;
    color: white;
    font-size: 49px;
    font-weight: bolder;
    border: 10px  solid;
    background-color: rgba(255, 68, 0, 0.507);
      
}

/*-----------------orange_bg-------------------*/
.orange_bg
{

    background-color: rgba(255, 68, 0, 0.507);
    position:absolute;
    width: 857px;
    height: 913px;
    z-index: -2;
    
}
/*---------------------------logo--------------------*/
.header_bi .bi
{
    color: white;
    font-size: 100px;
    font-weight:800;
}
.header_bi .coded
{
    color:white;
    font-size:larger;
    font-weight:bolder;
}
.logo_paragraph
{
    text-align:left;
    color: white;
    font-size:medium;
}

/*-----------------------------business---------------------------------*/

.business
{
    
    font-weight: bold;
    font-size:199px;
    color:rgba(255, 255, 255, 0.87);
   


}
.flyer
{
    
    color: white;
    font-size:134px;
}
.creative
{
    
    color: white;
    font-size:20px;
}
  
/*------------------- FOTTER_RIGHT PART---------*/
.footer_items
{
    color: white;
    font-size: 38px;
    font-weight: 700;
}


.fotter_icons
{
    color:white;
    font-size:30px;
}

 ul li
{
    list-style-type: none;
}

/*---------------------------------------blue part---------------*/
.blue_bg
{
    background-color: rgb(39 185 176 / 55%);
    position:absolute; 
    width: 1167px;
    height: 1031px;
     right: 0%;
     bottom: 0%;
    z-index: -2;

} 
.latter_a
{
    font-size: 110px;
    color: white;
    text-align: right;
    font-weight: 700;
}
.blue_paragraph
{
    /* text-align: right; */
    font-size: medium;
    color: white;
}
.blue_hr1
{
    margin-top: 40px;
    border: 3px  rgba(100, 148, 237, 0.657) solid;
}
.blue_hr2
{
    border: 3px  rgba(52, 69, 99, 0.759) solid;
}
.setting_icon
{
    display: flex;
    justify-content:space-around;
    color: white;
    font-size: 60px;
   

}
.www_bs
{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size:60px;
    

}

